<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : "Temple Ordinance Manager" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= content_for?(:head) ? yield(:head) : '' %>
 </head>

  <body>
		<ul id="menu">
			<% if current_user %>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Contacts', contacts_path %></li>
				<li><%= link_to 'Assignments', assignments_path %></li>
				<li><%= link_to 'Log Out', logout_path, method: :delete %></li>
			<% else %>
				<li><%= link_to 'Log In', '/auth/familysearch' %></li>
			<% end %>
		</ul>
		<div style="clear:both"></div>
		<%= yield %>
  </body>
</html>
